body {
  margin: 0;
  padding: 0;
}

.landingTitle {
  font-size: 50px;
  color: #975800;
  text-align: center;
  font-family: "Arial", sans-serif;
  margin-top: 240px;
  margin-bottom: 10px;
  font-weight: bold;
}

.lorem {
  font-size: 20px;
  color: #975800;
  margin: 0%;
  text-align: center;
  font-family: "Arial", sans-serif;
}
button {
  display: block;
  padding: 12px 20px;
  margin: 20px auto 0;
  font-size: 18px;
  background-color: white;
  color: #975800;
  border: 1px solid #975800;
  border-radius: 10px;
  cursor: pointer;
}

.top {
  margin-top: 200px;
  background-color: #80571e;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

.middle {
  background-color: #dadada;
  padding: 15px;
  color: rgb(201, 134, 0);
  font-size: 20px;
  text-align: center;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bottomBrown {
  background-color: #80571e;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}
.bottomMiddle {
  background-color: #ebebeb;
  color: #80571e;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}
